# Ignore thumbnails created by system
Thumbs.db
.DS_Store
._.*

# Ignore files build by IDE

*/*.xcodeproj/xcuserdata/
*/*.xcodeproj/project.xcworkspace/
*.xcodeproj/project.pbxproj
*.xcodeproj/project.xcworkspace/*

.idea
